<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill History</title>
    
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <style>
        *{
        margin: 0;
        padding: 0;
    }
    section{
        padding: 20px 20px;
        margin: 20px 20px;
    }
    </style>
</head>
<body>
      <section>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone no</th>
                <th>quantity</th>
                <th>price</th>
            </tr>
        </thead>
        <tbody>
        {%for bill in bills%}
            <tr>
            <td> {{bill.name}} </td>
            <td> {{bill.mob_no}} </td>
            <td> {{bill.quantity}} </td>
            <td> {{bill.price}} </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr><th colspan="3" style="text-align: right;">Total</th><td>{{total}}</td></tr>
        </tfoot>
    </table>

</section>
    <script>
        $(document).ready(function() {
                $('#example').DataTable();
            }

        );
    </script>   
    
</body>
</html>